@media (max-width: 1803px) {
    .main-container-design{
        margin: 0 5rem;
        overflow: hidden;
    }
    .about-head{
        position:absolute;
        border-bottom: 30rem solid var(--color-accent);
        border-left: 35rem solid transparent;
        border-right: 0px solid transparent;
        height: 0;
        right: 0;
        margin-left: 0rem;
        z-index: 3;
        width: 40%;
        margin-top: -20rem;
        margin-right: 5rem;
      }
      .company-information{
        position: absolute;
        right: 10%;
        top: 6%;
        height: fit-content;
      }
}

@media (max-width: 1500px) {

    .grand-title{
        margin-top: 13rem;
        font-size: 5rem;
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: italic;
        letter-spacing: -6px; 
        padding-left: 6rem;
        
    }

    .services{
        margin-top: 2rem;
      }

    .vision{
        margin-top: 8rem;
        position: relative;
        font-size: 4rem;
        font-weight: 100;
        font-family: "Lexend", sans-serif;
        z-index: 3;
      }

    .text-light{
        font-size: 1rem;
        margin-left: 22rem;
        font-style: italic;
        font-family: "Lexend", sans-serif;
        position: relative;    
        font-weight: 200;
        z-index: 5;
        padding-top: 10rem;
    }
      .company-information{
        position: absolute;
        left: 40%;
        top: 40%;
      }
    .second-section{
        position: relative;
        background-color: var(--color-primary);
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }
    .services{
        position: absolute;
        left: 35%;
        bottom: 0;
      }
      /* .third-section{
        padding-bottom: 10rem;
      } */
      .contact{
        border-bottom: none;
      }
      
}

@media (max-width: 1300px) {
   

    .grand-title{
        margin-top: 11rem;
        font-size: 5rem;
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: italic;
        letter-spacing: -6px; 
        padding-left: 6rem;
        
    }


    .text-light{
        font-size: 1rem;
        margin-left: 22rem;
        font-style: italic;
        font-family: "Lexend", sans-serif;
        position: relative;    
        font-weight: 200;
        z-index: 5;
        padding-top: 13rem;
    }


    .about-head{
        position:absolute;
        background-color:  var(--color-accent);
        border-right: 0px solid transparent;
        height: 0;
        right: 0;
        margin-left: 0rem;
        z-index: 3;
        height: 1rem;
        width: 30%;
        margin-top: -20rem;
        margin-right: 5rem;
      }
      .the-line {
      display: none;
      }
      .vision{
        margin-top: 11rem;
      }

}

/* 1253 */
@media (max-width: 1253px) {
    .mission{
        margin-top: 13rem;
    }
    .about-us-text-head{
        padding: 1rem;
    }
}
/* 1146 */

@media (max-width: 1146px) {
    .mission{
        margin-top: 15rem;
    }
    .about-us-text-head{
        padding: 1rem;
        border: none;
        font-size: 3rem;
    }
    .text-light{
        margin-top: 1rem;
        margin-left: 17rem;
    }
    .first-container-about{
        padding:1rem;
        margin-left: 1rem;
        margin-left: 6rem;
    }

}
/* 1037 */
@media (max-width: 1037px) {
    .main-container-design{
        margin: 0;
        overflow: hidden;
    }
    .text-light{
        margin-left: 17rem;
    }
}

@media (max-width: 992px) {
    .text-light{
        margin-top: 1rem;
    }
    .links-container{
        display: none;
    }
    .responsive-button-nav{
        display: block;
        margin-left: 2rem;
    }

    
}

@media (max-width: 900px) {
    .text-light{
        margin-top: 1rem;
    }
    .mission{
        margin-top: 15rem;
    }

    .navbar-container.responsiv-nav{
        align-self: auto;
        .links-container{
            display: flex;
            align-self: center;
            flex-direction: column;
            margin-bottom: 1rem;
        }
        .logo-container{
            flex-wrap: wrap;
        }
        .circle-design{
              margin-bottom: 2rem;  
        }
      }

}

/* 887 */
@media (max-width: 889px) {
    .text-light{
        margin-top: 1rem;
    }
    .mission{
        margin-top: 14rem;
    }
    .about-us-text-head{
        font-size: 3rem;
    }
}
@media (max-width: 850px) {
    .text-light{
        margin-top: -1rem;
    }
    .mission{
        margin-top: 11rem;
    }
}
/* 769 */
@media (max-width: 769px) {
    .about-head{
       display: flex;
       justify-content: space-between;
       text-align: center;
       flex-direction: column;
       width: 100%;
       margin-right: 0;
       background-image: url("/assets/images/bksection2.png");
       background-repeat: no-repeat;
       background-size: cover;
    
 
    }
    .first-container-about{
        border: none;
        height: 10rem;
        width: 100%;
        margin-top: -2rem;
        margin-left: 0;        
        
    }
    /* https://lovepik.com/images/png-technology-line-picture.htm */
    .fourth-section{
        width: 100%;
        height: fit-content;
        background-color: var(--color-blue);
        display: flex;
        text-align: center;
        justify-content: start;
    }
    .title{
        font-size: 1.5rem;
    }
    .grand-title{
        font-size: 4rem;
    }
    .container {
        flex-wrap: wrap-reverse;
        justify-content: center;
      }
      .text-light{
        font-size: 0.9rem;
        margin: 10rem 0rem;
        padding: 2rem;
      }
      .mission{
        margin-top: 11rem;
        font-size: 1.5rem;
      }
      .text-mission{
        margin-top: 0.2rem;
        font-size: 0.9rem;
        padding: 1rem;
        margin-left: 0rem;
      }
      .vision,.reality{
        font-size: 3rem;
      }
      .third-section{
        background-image: url("/assets/images/aboutbk2.png");
        background-repeat: repeat;
        background-size: contain;
      }

    }
@media (max-width: 576px) {
    .logo-text{
        display: none;
    }
    .grand-title{
        font-size: 3rem;
        text-align: center;
        padding-left: 0rem;
    }
    .text-light{
        margin-bottom: 1rem;
    }
    .mission{
        padding: 3rem 0 0;
    }
    .text{
        margin-left: -21rem;
  }
  .services{
    left: 15%;
  }
  .company-information{
    margin-left: -7rem;
  
    }
    .vision,.reality{
        font-size: 2rem;
    }
    .reality{
        letter-spacing: -1px; 
    }
    .reality span{
        font-size: 1rem;
    }
}

@media (max-width: 390px) {

    .grand-title{
        font-size: 2rem;
        text-align: center;
    }
    .text-light{
        padding: 1rem;
    }
    .second-section{
        height: 120vh;
    }
}
@media (max-width: 360px) {

    .services{
        font-size: 3rem;
        margin: 1rem 0 0;
        text-align: center;
    }
    .text-light{
        margin: 1rem;
    }
    .second-section{
        height: 125vh;
    }
}

@media (max-width: 375px) {

    .services{
        font-size: 3rem;
        margin: 1rem 0 0;
        text-align: center;
    }

    .second-section{
        height: 145vh;
    }
}
